<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/home'>INICIO</a></li>
        <li><a href='/nosotros'>NOSOTROS</a></li>
        <li><a href='/acerca-de'>ACERCA DE</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
